 
/* task-1.css */
 
body {
    font-family: Arial, sans-serif;
  }
 
  h1 {
    text-align: center;
    color: black
  }
 
  .img1 {
    width: 50%;
    height: 50%;
    border-radius: 8px;
  }
 
  .flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    margin: 20px;
  }
 
  .flex > div {
    box-sizing: border-box;
    width: 30%;
    margin: 10px;
  }
   
  p {
    margin: 5px 0;
    font-weight: bold;
    color: #555;
  }
 
 
  @media screen and (max-width: 600px) {
    .flex > div {
      width: 100%;
    }
  }
 
 
  @media screen and (min-width: 601px) and (max-width: 1024px) {
    .flex > div {
      width: 48%;
    }
  }
 
 
  @media screen and (min-width: 1025px) {
    .flex > div {
      width: 30%;
    }
  }
 